.MuiDialog-paperWidthSm {
	max-width: unset !important;

	.MuiFormControl-root {
		margin: 8px 12px;
	}

	.client-form-container {
		padding: 12px 24px;
	}

	#submit-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 20px;
	}
}


/*.my-custom-input {
	label.Mui-focused {
		color: red;
	}

	.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
		border-color: red !important;
	}

	.MuiOutlinedInput-root {
		fieldset {
			border-color: red,
		}

		&:hover {
			fieldset {
				border-color: red;
			}
		}

		&.Mui-focused fieldset {
			border-color: red,
		}
	}
}*/
